.cnt-ch{
   width: 100%;
   height: auto;
   display: inline-block;
   justify-content: flex-start;
}

.cnt-bx{
    width: 100%;
    height: 200px;
    display: flex;
    margin-top: 50px;
    margin-left: 25px;
}

.box-slide-1{
    width: 200px;
    height: 200px;
    background-image: url('/src/Images/CH-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.box-slide-2{
    width: 200px;
    height: 200px;
    background-image: url('/src/Images/CH-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.box-slide-3{
    width: 200px;
    height: 200px;
    background-image: url('/src/Images/CH-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.slide + .description{
    display: flex;
    width: 350px;
    height: 200px;
    background-image: linear-gradient(90deg, #ffffff00, #ffffff78);
    align-items: center;
    padding: 15px;
    border-radius: 0 5% 5% 0 ;
}